body{
	width: 99%;
	color: #15202B;
	background: white;
	font-family: Bahnschrift condensed;
	text-align: left;
}

#header h2{
	font-size: 50px;
	text-align: center;
	/* text-decoration-line: underline overline; */
	border-top: 5px solid #15202B;
	margin-bottom: 0px;
	margin-top: 0px;
}

#header h1{
	font-size: 100px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 15px;
	border-bottom: 5px solid #15202B;
	border-top: 5px solid #15202B;
}

/* Botones */
#random, #switch, #buscar, #vistas, #mejores, #peores{
	font-size: large;
	font-family: inherit;
	border-radius: 2.5mm;
	background-color:#1A91DA;
	border: none;
	margin-bottom: 10px;
	margin-bottom: 10px;
}

#LdP{
	margin-bottom: 2.5mm;
}

#lista{
	border: 3px solid rgba(173, 173, 173, 0.274);
	text-align: center;
	text-decoration: underline overline gray;
	font-size: 17.5px;
	margin-left: 5%;
	margin-right: 5%;
}